@charset "UTF-8";

html{font-size: 100%;
}


/*ヘッダー*/

.page-title{
    font-size: 3.5rem;
    text-align: center;
    color:#23b7dc;
    background-color: #fff;
    padding: 2rem 0;
    margin: 0;
    font-weight: bold;
}

.roll-title{
    font-size: 3.5rem;
    text-align: center;
    color:#23b7dc;
    background-color: #fff;
    padding: 2rem 0;
    margin: 0;
    font-weight: bold;
}



.map-title{
    font-size: 3.5rem;
    text-align: center;
    color:#23b7dc;
    background-color: #fff;
    padding: 2rem 0;
    margin: 0;
    font-weight: bold;
}




.main-nav {
    display: flex;
    background-color: #fff;
    gap:20rem;
    justify-content: center;
    font-size: 1.5rem;
    list-style: none;
}

.main-nav a{
    color:#008000;
    background-color: #fff;

}


.shoukai{
    font-size: 2rem;
    text-align: left;
    color:#000;
    background-color: #fff;
    padding: 2rem 5rem;
    margin: 0;
}
.shoukaibun{
    font-size: 1.7rem;
    text-align: left;
    color:#000;
    background-color: #fff;
    padding: 1rem 5rem;
    margin: 0;
}
.buntai{
    font-size: 1.3rem;
    text-align: left;
    color:#000;
    background-color: #fff;
    padding: 1rem 5rem;
    margin: 0;
}
.midasi{
    font-size: 2.5rem;
    text-align: left;
    color:#000;
    background-color: #fff;
    padding: 2rem 5rem;
    margin: 0;
}

.M{text-align: center;}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
}





